/*Global
---------------------------------------------*/
html {
	font-size: 16px;
}

/*Header
---------------------------------------------*/
header {
	height: 4rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1.5rem;
}

header .logo img {
	vertical-align: middle;
}

header ul li {
	display: inline-block;
	margin-left: 1rem;
}

/*Banner
---------------------------------------------*/

.banner {
	padding: 2rem 1.5rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: lightgrey;
}

.banner img {
	width: 60%;
	height: auto;
	margin-right: 2.5rem;
}

.banner .info h1 {
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 1rem;
}

.banner .info p {
	margin-bottom: 1rem;
}

.banner .info a {
	display: block;
	padding: 0.5rem;
	background-color: darkgrey;
	color: white;
	text-align: center;
}