/*Global
---------------------------------------------*/
html {
	font-size: 16px;
}

/*Header
---------------------------------------------*/
header {
	height: 4rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1.5rem;
}

header .logo img {
	vertical-align: middle;
}

header ul li {
	display: inline-block;
	margin-left: 1rem;
}

/*Banner
---------------------------------------------*/

.banner {
	padding: 2rem 1.5rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: lightgrey;
}

.banner img {
	width: 60%;
	height: auto;
	margin-right: 2.5rem;
}

.banner .info h1 {
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 1rem;
}

.banner .info p {
	margin-bottom: 1rem;
}

.banner .info a {
	display: block;
	padding: 0.5rem;
	background-color: darkgrey;
	color: white;
	text-align: center;
}

/*Activities
---------------------------------------------*/

.activities {
	display: inline-flex;
}

.activities .left {
	padding: 2rem 1.5rem 0 1.5rem;
	position: relative;
}

.activities .left img {
	width: 100%;
	height: auto;
}

.activities .left h2 {
	margin-top: 2rem;
	margin-bottom: 1.5rem;
	font-size: 1.5rem;
	font-weight: bold;
}

.activities .left p {
	font-size: 1rem;
	margin-bottom: 1rem;
}

.activities .left .img-footer {
	position: absolute;
	bottom: 0;
}

.activities .right {
	min-width: 26.4375rem;
	border-left: 1px solid lightgrey;
}

.activities .right .cell {
	display: flex;
	align-items: center;
}

.activities .right .cell:first-child {
	border-bottom: 1px solid lightgrey;
}

.activities .right .cell:last-child {
	background-color: lightgrey;
}

.activities .right .cell img {
	width: 35%;
	height: auto;
	margin: 1rem;
}

.activities .right .cell h3 {
	font-size: 1.5rem;
	margin-bottom: 0.5rem;
}

.activities .right .cell p {
	margin-bottom: 0.5rem;
}

.activities .right .cell a {
	color: blue;
}

/*Learning
---------------------------------------------*/

.learning {
	padding: 2rem;
	background: lightgrey;
}

.learning h2 {
	font-size: 2rem;
	margin-bottom: 2rem;
	text-align: center;
}

.learning h4 {
	text-transform: uppercase;
	margin-bottom: 0.5rem;
}

.learning .row {
	display: flex;
	justify-content: center;
	margin-bottom: 2rem;
}

.learning .row:last-child{
	margin-bottom: 0;
}

.learning .row .learn-item {
	min-height: 13.75rem;
	width: 13.75rem;
	background: white;
	margin-right: 2rem;
}

.learning .row .learn-item:last-child {
	margin-right: 0;
}

.learning .row .learn-item img {
	width: 100%;
	height: auto;
}

.learning .row .learn-item .info {
	padding: 1rem 1rem 1.5rem 1rem;
}

.learning .row .learn-item .info h3 {
	font-size: 1.2rem;
	margin-bottom: 0.5rem;
}

/*Thesis
---------------------------------------------*/

.thesis .title {
	text-align: center;
	font-size: 2rem;
	padding: 2rem 0;
}

.thesis .content {
	display: flex;
}

.thesis .content .left {
	padding: 0 1rem 0 1.5rem;
}

.thesis .content .left video {
	max-width: 100%;
}

.thesis .content .left h2 {
	font-size: 1.5rem;
	font-weight: bold;
	padding: 1.5rem 0;
}

.thesis .content .left p {
	padding-bottom: 2rem;
}

.thesis .content .right {
	min-width: 26.4375rem;
}

.thesis .content .right .cell:first-child {
	background: lightgrey;
}

.thesis .content .right .cell {
	height: 10.5rem;
	display: flex;
	padding: 1rem;
	align-items: center;
}

.thesis .content .right .cell img {
	height: 100%;
	padding-right: 2rem;
}

.thesis .content .right .cell .support h3 {
	font-size: 1.5rem;
	margin-bottom: 0.5rem;
}

.thesis .content .right .cell .support p {
	margin-bottom: 0.5rem;
}

/*Footer
---------------------------------------------*/
